@include keyframes(opacity_change) {
    from { opacity: 1; }
    to { opacity: 0.1; }
}

.start-board {
    display: table;
    text-align: center;
    vertical-align: middle;

    .start-link-container {
        display: table-cell;
        vertical-align: middle;
        padding-bottom: $titleHeight;
    }
}

.high-scores-board {
    text-align: center;
}

.start-link {
    font-size: $titleHeight/1.8;
    font-style: italic;
    padding: 10px;

    &, &:link, &:visited, &:hover, &:active {
        text-decoration: none;
        color: #033405;
    }

    @include vendor-prefix(animation, opacity_change 1s infinite alternate);

    &:hover {
        -webkit-animation: none;
        animation: none;
    }
}
