$titleHeight: 100px;

@import "utils";
@import "card";
@import "start-boards";

body {
    background-color: #577207;
    background: url("../images/green.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: "Arial Black", "Impact", "Arial", sans-serif;
    color: #033405;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $titleHeight;
    overflow: hidden;


    text-shadow: 0px 1px 1px #264C05;
    color: #5D7005;

    line-height: $titleHeight;
    text-align: center;
    font-size: $titleHeight/1.6;
}

.board {
    position: absolute;
    top: $titleHeight;
    left: 0;
    height: calc(100% - #{$titleHeight});
    width: 100%;
}

